@import "utils/variables"
@import "components/buttons"
@import "base/reset"
@import "base/typography"
@import "layout/hero"
@import "layout/section"
@import "layout/footer"
@import "layout/companies"

body
  color: $color-blue-grey
  background-image: url(../images/bg-header-mobile.png)
  font-size: 1.8rem
  background-position: top
  background-repeat: no-repeat
  background-size: contain

.logo 
  margin-bottom: 7.4rem
  width: 126px
  height: 126px

img 
  width: 100%